<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>排产管理_已排产</title>
		<link rel="stylesheet" href="../frame/layui/css/layui.css" type="text/css">
		<link rel="stylesheet" href="../frame/static/css/style.css">	
	</head>
	<body>
		<div class="layui-content">
      		<h2>已排产</h2>
      		<!--<button id="increase-btn" class="layui-btn mymx-btn" onclick="incBtn(this)" data-type="getCheckData">+新增门型</button>-->
      		<div class="layui-table-body">
        		<table class="layui-table mymx-table" lay-skin="line">
        			<colgroup>
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="200">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
          			</colgroup>
        		    <thead>
         		        <tr>
         		        	<th>DDID</th>
          		            <th>订单编号</th>
          		            <th>客户名称</th>
             		        <th>客户地址</th>
          		            <th>终端地址</th>
             		        <th>订单面积(m²)</th>
             		        <th>基材</th>
             		        <th>接单员</th>
             		        <th>批次号</th>
             		        <th>排产时间</th>
             		        <th>排产人</th>
             		        <th>操作</th>
          		        </tr> 
        		    </thead>
        		    <tbody>
         		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
         		        	<td>1122563252148970</td>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
             		        <td>河南郑州郑东新区雅宝东方国际</td>
             		        <td>64565</td>
          		            <td>2000.00</td>
          		            <td>基材1</td>
          		            <td>李四</td>
          		            <td>0165623</td>
          		            <td>2018-12-23</td>
          		            <td>张三</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
          		    </tbody>
        		</table>
        </div>
	</body>
</html>
