<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>月结明细</title>
		<link rel="stylesheet" href="../frame/layui/css/layui.css" type="text/css">
		<link rel="stylesheet" href="../frame/static/css/style.css">
	</head>
	<body>
		<div class="layui-content">
		  <div class="layui-content-top">
      		<h2 style="margin: 7px 20px;">月结明细</h2>
      		<button class="layui-btn my-btn-hpkc" data-type="getCheckData">搜&nbsp;索</button>
      		<div class="layui-inline my-inline-hpkc">
                <span>截止日期</span>
         		<div class="layui-input-inline">
         			<div class="layui-input-inline">
						<input type="text" id="time-stop" name="time-stop" lay-verify="required" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input qymc team" style="width: 120px;height: 30px;">
					</div>
          		</div>         		   
        	</div>
        	<div class="layui-inline my-inline-hpkc">
                <span>开始日期</span>
         		<div class="layui-input-inline">
         			<div class="layui-input-inline">
						<input type="text" id="time-begin" name="time-begin" lay-verify="required" placeholder="yyyy-mm-dd" autocomplete="off" class="layui-input qymc team" style="width: 120px;height: 30px;">
					</div>
          		</div>         		   
        	</div>
            <div class="layui-inline my-inline-hpkc">
                <span>客户名称</span>
         		<div class="layui-input-inline">
         			<div class="layui-input-inline">
						<input type="text" name="logistics-num" lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input qymc team" style="width: 120px;height: 30px;">
					</div>
          		</div>         		   
        	</div>
          </div>     		
      		<div class="layui-table-body">
        		<table class="layui-table mymx-table" lay-skin="line">
        			<colgroup>
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
          			</colgroup>
        		    <thead>
         		        <tr>
          		            <th>订单编号</th>
          		            <th>客户名称</th>
          		            <th>订单面积(m²)</th>
             		        <th>订单金额(元)</th>
             		        <th>应付金额(元)</th>
             		        <th>已付金额(元)</th>
          		            <th>剩余金额(元)</th>
             		        <th>结算类型</th>
             		        <th>操作</th>
          		        </tr> 
        		    </thead>
        		    <tbody>
         		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		         <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>经销商1</td>
           		            <td>200.00</td>
             		        <td>5000.00</td>
             		        <td>3000.00</td>
             		        <td>1000.00</td>
             		        <td>2000.00</td>
             		        <td>银行卡转账</td>
             		        <td><a href="personal_lsdd-ddxq.html" style="color: #546df2;margin-right: 10px;">订单详情</a></td>
           		        </tr>
          		    </tbody>
        		</table>
            </div>
        </div>
        
        <!--弹窗内容-->
        <div id="ConfirmCk" style="display: none;">
		 	<div style="padding: 20px;">
				<form class="layui-form" action="">
					<dl id="TCinsert">
						<dd>
							<label class="layui-form-label">发货物流</label>
							<div class="layui-input-inline">
        						<select name="modules" lay-verify="required" lay-search>
         							<option value="logistics1">顺丰速运</option>
         						    <option value="logistics2">圆通物流</option>
         						    <option value="logistics2">汇通物流</option>
                               </select>                                
                            </div>
						</dd>
						<dd>
							<label class="layui-form-label">物流编号</label>
							<div class="layui-input-inline">
								<input type="text" name="logistics-num" lay-verify="required" placeholder="请输入物流编号" autocomplete="off" class="layui-input qymc team">
							</div>
						</dd>		
					</dl>					
				</form>
			</div>
		</div>
        
        
        <script src="../frame/layui/layui.js"  charset="utf-8" type="text/javascript"></script>
        <script src="../js/jquery-1.8.3.min.js"></script>
        <!--<script src="../frame/layui/lay/modules/layer.js"></script>-->
        <script type="text/javascript">
       	    layui.use('layer', function(){
                var layer = layui.layer;  
//              layer.msg('hello');
            });  
            
            layui.use('laydate', function(){
                var laydate = layui.laydate; 
                //执行一个laydate实例
                laydate.render({
                    elem: '#time-begin' //指定元素                   
                });
                laydate.render({
                    elem: '#time-stop' //指定元素                    
                 });
            });
       	       	       	       	
       	       	
        function ConfirmCk(obj){
//      	var tmp = obj;
			var gymc = $(obj).parents("tr").children().eq(1).text();
		    var gyname = $(obj).parents("tr").children().eq(1).text();
		    
			parent.layer.open({
	            type:1,
	            area: ['326px', 'auto'],//边框大小
	            title:'确认出库',
	            shade:0.2,
	            offset:'300px',//距离顶部距离
	            content:$('#ConfirmCk').html(),
	            success:function(){
	            	$(".gygygy").val(gyname);
	            	
	            },
	            btn:['确定','取消']
	            ,btnAlign: 'c' //按钮居中
	            ,yes: function(index,layero){
//	            	alert($(".gxmc").val());
	              parent.layer.close(index);
	         	}
	        });          	                	
        }




        </script>
        
	</body>
</html>
