<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>膜压门型</title>
		<link rel="stylesheet" href="../frame/layui/css/layui.css" type="text/css">
		<link rel="stylesheet" href="../frame/static/css/style.css">	
	</head>
	<body>
		<div class="layui-content">
      		<h2>膜压门型</h2>
      		<a href="system_mymx_xzmx.html"><button id="increase-btn" class="layui-btn mymx-btn" data-type="getCheckData">+新增门型</button></a>
      		<div class="layui-table-body">
        		<table class="layui-table mymx-table" lay-skin="line">
        			<colgroup>
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
          			</colgroup>
        		    <thead>
         		        <tr>
          		            <th>门型编号</th>
          		            <th>门型名称</th>
             		        <th>门型分类</th>
          		            <th>所属系列</th>
             		        <th>门型单价(元)</th>
             		        <th>计价方式</th>
          		            <th>最小宽度(mm)</th>
             		        <th>最大宽度(mm)</th>
             		        <th>最小高度(mm)</th>
          		            <th>最大高度(mm)</th>
             		        <th>操作</th>
          		        </tr> 
        		    </thead>
        		    <tbody>
         		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td><a href="system_mymx_xzmx.html" style="color: #546df2;margin-right: 10px;">编辑</a><a href="#" style="color: #546df2;" onclick="DelMymx()">删除</a></td>
           		        </tr>
          		    </tbody>
        		</table>
        </div>
        
        
        
       <script src="../frame/layui/layui.js"  charset="utf-8" type="text/javascript"></script>
       <script src="../js/jquery-1.8.3.min.js"></script>
       <!--<script src="../frame/layui/lay/modules/layer.js"></script>-->
       <script type="text/javascript">
       	    layui.use('layer', function(){
                var layer = layui.layer;  
//              layer.msg('hello');
            });     

        function DelMymx() {
      		
      		
			parent.layer.open({
	            type:1,	         
	            title:'删除门型',
	            shade:0.2,
	            offset:'300px',
	            content:'<div style="padding: 30px 100px;">确定删除该门型吗？</div>',
	            btn:['确定','取消']
	            ,btnAlign: 'c' //按钮居中
	            ,yes: function(index,layero){
	              parent.layer.close(index);
	         	}
	     	});  
		}


        </script>
        
        
	</body>
</html>
