<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>移门门型</title>
		<link rel="stylesheet" href="../frame/layui/css/layui.css" type="text/css">
		<link rel="stylesheet" href="../frame/static/css/style.css">	
	</head>
	<body>
		<div class="layui-content">
      		<h2>移门门型</h2>
      		<button id="increase-btn" class="layui-btn mymx-btn" data-type="getCheckData">+新增门型</button>
      		<div class="layui-table-body">
        		<!--<table class="layui-table mymx-table" lay-skin="line">
        			<colgroup>
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
           			    <col width="100">
          			</colgroup>
        		    <thead>
         		        <tr>
          		            <th>订单编号</th>
          		            <th>名称</th>
             		        <th>类型</th>
             		        <th>分类</th>
          		            <th>所属系列</th>
             		        <th>单价(元)</th>
             		        <th>计价方式</th>
          		            <th>最大宽度(mm)</th>
             		        <th>最小宽度(mm)</th>
             		        <th>最大高度(mm)</th>
          		            <th>最小高度(mm)</th>
             		        <th>有无配件</th>
             		        <th>操作</th>
          		        </tr> 
        		    </thead>
        		    <tbody>
         		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
           		        <tr>
          		            <td>551245656565</td>
           		            <td>门型1</td>
             		        <td>类型1</td>
             		        <td>分类1</td>
          		            <td>系列1</td>
             		        <td>50.00</td>
             		        <td>计价方式1</td>
          		            <td>1500.00</td>
             		        <td>1000.00</td>
             		        <td>2400.00</td>
          		            <td>1600.00</td>
             		        <td>无</td>
             		        <td><a href="#" style="color: #546df2;">删除</a></td>
           		        </tr>
          		    </tbody>
        		</table>-->
        </div>
	</body>
</html>
